<div class="header" id="hd-1" [ngStyle]="{'height.px': windowHeight}">
  <div class="row justify-content-center row-100">
    <div class="info col-8">
      <div>
        <img src="/assets/me.jpg" class="rounded-circle img-bordered profile-foto" />
      </div>
      <div class="description">
        <h2>Olaf Krawczyk</h2>
        <div>
          <p>Computer Science student at Wroclaw University of Technology and Science. <br />
          Working with Java, Python and Angular</p>
          <p>
            Feel free to contact me by <b>olaf.r.krawczyk@gmail.com</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>