.tech-item {
    width: 20%;
}

.tech-progress {
    width: 100%;
    margin: auto;
}

.skill {
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.progres-wrapper {
    margin-top: 15px;
    width: 100%;
}