<div class="content">
  <h4>Programming skills</h4>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-8">
        <div class="skills-list">
          <ul class="list-group">
            <li class="list-group-item">
              <app-technology-item [technology]="'Java'" [skillLevel]="75"></app-technology-item>
            </li>
            <li class="list-group-item">
                <app-technology-item [technology]="'Python'" [skillLevel]="70"></app-technology-item>
            </li>
            <li class="list-group-item">
                <app-technology-item [technology]="'HTML, CSS & JS'" [skillLevel]="60"></app-technology-item>
            </li>
            <li class="list-group-item">
                <app-technology-item [technology]="'Linux & bash'" [skillLevel]="50"></app-technology-item>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>