<div class="content">
  <h3>Programming skills</h3>
  <div class="container skills-wrapper">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="row justify-content-center">
          <app-technology-item [technology]="'Java'" [skillLevel]="75"></app-technology-item>
          <app-technology-item [technology]="'Spring & Hibernate'" [skillLevel]="65"></app-technology-item>
          <app-technology-item [technology]="'Python & Flask'" [skillLevel]="75"></app-technology-item>
        
          <app-technology-item [technology]="'HTML, CSS & JS'" [skillLevel]="60"></app-technology-item>
          <app-technology-item [technology]="'Angular & TypeScript'" [skillLevel]="68"></app-technology-item>
          <app-technology-item [technology]="'Linux & bash'" [skillLevel]="50"></app-technology-item>
        </div>
      </div>
    </div>
  </div>
</div>