<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<app-technologies></app-technologies>

<app-project background="#ededed" [showTitle]="true" [icon]="'/assets/robolify/logo.png'">
    One of group projects at university.<br >
    Projects and tasks management web application designed to meet construction managers needs.<br />
    Developed front-end application, took active part in defining application features and selecting technology stack.<br />
    <b>Created with:</b>: Angular 4, Java, SpringBoot, JWT, PostgreSQL and REST.
</app-project>
<app-project background="#f7f7f7" [icon]="'/assets/tablersv/logo.png'">
    Web service and mobile app that helps users book tables at restaurants. <br />
    Designed architecture, developed mobile, frond-end and back-end applications.<br />
    <b>Created with:</b> Angular 4, Ionic, Java, SpringBoot, REST and PostgreSQL.
</app-project>
